/* adminPage.css */

/* Example -> need this for later. For tailwindcss */
/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply fixed top-0 left-0 w-full h-screen bg-black/50 -z-10;
  }

  .middle {
    @apply fixed flex items-center justify-center p-[10px] top-[200px] left-[200px] m-[20px] rounded-[15px] w-[80%] h-[70%] bg-black/80;
  }

} */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Container for forms */
.container {
	background: rgba(0, 0, 0, 0);
	padding: 40px;
	border-radius: 15px;
	width: 77%;
	top: 170px;
	left: 160px;
	margin: 50px;
	position: fixed;
	z-index: 1; 
}

/* Search Bar Styling */
.userSearch {
	width: 500px;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 16px;
	top: 6.5px;
	margin-left: 43px;
	position: relative;
	font-size: 15px;
	font-family: Arial, sans-serif;
}
.search-container {
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
}
.search-btn {
	background: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 5px;
	height: 40px;
	width: 40px;
}
.searchIcon {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	z-index: 1;
}
.search-btn:hover {
	background-color: #902063;
}

/* Table Styling */
.userTable {
	width: 100%;
	border-collapse: collapse;
	background-color: #ffffff;
}
.userTable td {
	padding: 12px;
	text-align: left;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-family: Arial, sans-serif;
}
.userTable th {
	color: rgb(0, 0, 0);
	background-color: #d7d7d7;
	font-weight: bold;
	font-size: 17px;
	font-family: Arial, sans-serif;
}

/* Button Styling */
.btn {
	padding: 8px 12px;
	margin-right: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	font-size: 15px;
	font-family: Arial, sans-serif;
}
.btn:first-child {
	background-color: #ff4d4d;
	color: white;
}
.btn:first-child:hover {
	background-color: #b86a8a;
}
.btn:last-child {
	background-color: #4CAF50;
	color: white;
}
.btn:last-child:hover {
	background-color: #b86a8a;
}


/* scroll */
.table-wrapper {
	margin-top: 10px;
	max-height: 60vh; 
	overflow-y: auto;
}
/* .userTable {
	width: 100%;
	border-collapse: collapse;
}
.userTable th, .userTable td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #c5c5c5;
} */

/* Eye icon for password */
.field-icon {
    cursor: pointer;
    position: absolute;
    margin-left: -35px; 
    margin-top: 10px; 
}
.field-icon img {
    width: 25px;
    height: 20px;
}

/* Error Messages */
.input-error {
	border: 3px solid rgb(255, 0, 0);
}
.error-text {
	color: rgb(228, 73, 73);
	font-size: 1rem;
	margin-bottom: 2px;
	margin-top: 20px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	text-align: left;
}