/* history.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Container for forms */
.container {
	padding: 40px;
	border-radius: 15px;
	z-index: 1;
}

/* All for the Middle */
.middle {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	padding: 10px;
	top: 200px;
	left: 220px;
	border-radius: 15px;
	width: 75%;
	height: 75%; 
	z-index: -1;
}

/* Title styling */
.header {
	font-size: 2.5rem;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
}

.Pongheader {
	font-size: 2.5rem;
	margin-bottom: -4px;
	margin-top: -8px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color:  #dbb9cd;
	text-align: center;
	text-shadow: 5px 5px 7px #902063; 
}

/* Paragraph styling */
.p1 {
	font-size: 1.1rem;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
}

/* Table Styling */
.userTable {
	width: 100%;
	border-collapse: collapse;
	background-color: #ffffff;
}
.userTable td {
	padding: 12px;
	text-align: center;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-family: Arial, sans-serif;
}
.userTable th {
	color: rgb(0, 0, 0);
	padding: 12px;
	background-color: #d7d7d7;
	font-weight: bold;
	font-size: 17px;
	font-family: Arial, sans-serif;
	position: sticky;
	top: 0;
	z-index: 2;
}

/* scroll */
.table-wrapper {
	margin-top: 20px;
	max-height: 670px;
	width: 90%;
	overflow-y: auto;
	display: block;
  }


/* Game */
.game-btn {
	margin-top: -330px;
	margin-left: -390px;
	background-color: rgba(144, 32, 99);
	width: 14vh;
	padding: 11px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: none;
	text-align: center;
	font-size: 17px;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	z-index: 5;
}
.game-btn:hover {
	background: #b86a8a;
}

.game-btn img {
	width: 25px;
	height: 25px;
}
